@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    font-size: 20px;
    line-height: 36px;
}

@media screen and (max-width:767px) {
    html {
      overflow-x: hidden;
    }
}

h1 {
    @apply text-4xl md:text-5xl lg:text-6xl mb-4 font-black
}

h2 {
    @apply text-3xl xl:text-5xl xl:leading-snug mb-4 font-black
}

.g-cols-2 {
    @apply grid-cols-1 md:grid-cols-2
}

.g-cols-3 {
    @apply grid-cols-1 md:grid-cols-3
}

.g-cols-4 {
    @apply grid-cols-1 md:grid-cols-3 lg:grid-cols-4
}

.itemsCenter {
    @apply items-center
}

.itemsEnd {
    @apply items-end
}

.textCenter {
    @apply text-center
}

.textRight {
    @apply text-right
}

.constrained {
    @apply lg:max-w-7xl lg:rounded-xl md:px-14
}

.constrained .grid_block {
    @apply mt-0 mb-0
}

.m-w-4xl {
    @apply max-w-[90%] md:max-w-4xl
}

.m-w-5xl {
    @apply max-w-[90%] md:max-w-5xl
}

.m-w-6xl {
    @apply max-w-[90%] md:max-w-6xl
}

.m-w-7xl {
    @apply max-w-[90%] md:max-w-7xl
}

.m-h-400px {
    @apply min-h-[400px]
}

.objectContain {
    @apply object-contain
}

.objectCover {
    @apply object-cover
}

.m-h-500px {
    @apply min-h-[500px]
}

.textWhite {
    @apply text-white
}

@media (max-width:767px) {
    .teaser_content {
       font-size: 43px!important;
       line-height: 1.2!important;
    }
    
}
.content_block {
    @apply [&>h2]:text-2xl sm:[&>h2]:text-4xl lg:[&>h2]:text-4xl [&>h2]:font-semibold [&>h2]:pt-4 [&>p>img]:rounded-2xl [&>p]:text-lg [&>p]:py-4 [&>p]:leading-8 [&>h3]:text-2xl [&>h3]:font-semibold [&>ul]:mb-8 [&>ul]:list-disc [&>ul]:pl-4 [&>ul>li]:leading-8 [&>ol]:list-decimal [&>ol]:pl-4 [&>ol>li]:leading-8 text-base md:text-lg
}

.hero .content_block p {
    @apply leading-relaxed p-0
}

.hero .content_block {
    @apply p-0
}

.hightlight .content_block {
    @apply py-10
}

.hightlight .content_block p {
    @apply leading-loose p-0
}
